<div class="col-md-4 mb-5 magazine-card" id="{{ magazine.id }}_{{ issue.issue }}">
    <a href="{{ issue.link }}" target="_BLANK">
        <div class="card mb-2 box-shadow">
            <img class="card-img-top lazyload" alt="{{ magazine.name }}, גליון {{ issue.issue }}"  
                 data-src="/images/magazines/{{ magazine.id }}/{{ magazine.id }}{{ issue.issue }}.jpg"
                 src="/images/magazines/placeholder.png">
            
            <div>
                <div class="view_indicator"></div>
                <div class="card-body text-center">
                    <p class="card-text">גליון {{ issue.issue }}</p>
                    <small class="text-muted">נסרק על ידי {{ issue.scanned_by }}</small>
                </div>
            </div>
        </div>
    </a>
</div>