<!doctype html>
<html lang="he" dir="rtl">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"-->
        <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">        
        <link rel="stylesheet" href="/css/default.css?1">
        {% if page.iviewer %}
        <link rel="stylesheet" href="/css/jquery.iviewer.css">
        {% endif %}

        <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        {% if page.layout == "magazines" %}
        {% assign meta_description = "המגזין הנוסטלגי '#MAG#' לצפייה אונליין" | replace: "#MAG#", page.title %}
        {% else %}
        {% assign meta_description = "מאגר המגזינים הישנים: אוסף מגזיני משחקים ומחשבים נוסטלגיים (וויז, פריק, זומביט ואחרים) לצפייה אונליין" %}
        {% endif %}
        
        <meta name="description" content="{{ meta_description }}">
        
        <title>{{ site.title }} | {{ page.title }}</title>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29896019-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-29896019-1');
        </script>
    </head>
    <body>
        <div class="wrapper d-flex flex-column">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">{{ site.title }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% assign current = page.url | downcase | split: '/' %}
                        <li class="nav-item {% if current[1] == null %}active{% endif %}">
                            <a class="nav-link" href="/">דף הבית</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if current[1] == 'magazines' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                המגזינים
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% assign magazines = site.data.magazines | sort: 'name' %}
                                {% for magazine in magazines %}
                                <a class="dropdown-item" href="/magazines/{{ magazine.id }}.html">{{ magazine.name }}</a>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current[1] == 'updates.html' %}active{% endif %}" href="/updates.html">עדכונים</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current[1] == 'contact.html' %}active{% endif %}" href="/contact.html">תרומה / יצירת קשר</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current[1] == 'links.html' %}active{% endif %}" href="/links.html">קישורים</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Content -->
                {{ content }}
            <!-- End Content -->

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {% if page.iviewer %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha384-Dziy8F2VlJQLMShA6FHWNul/veM9bCkRUaLqr199K94ntO5QUrLJBEbYegdSkkqX" crossorigin="anonymous"></script>
        <script src="/js/jquery.iviewer.min.js"></script>
        <script src="/js/iviewer_main.js"></script>
        <script src="https://apis.google.com/js/client.js?onload=loadGAPI" integrity="sha384-EElhBUTohR4AQKIjG1CHXEO4igpwYlo0wpEyuF9O7VZA1AKLOjyh4bhGlEjZRpfE" crossorigin="anonymous"></script>
        {% else %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        {% endif %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script-->
        <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>
        <script src="/js/lazyload.min.js"></script>
        <script src="/js/main.js"></script>
        
    </body>
</html>