---
layout: page
---

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{ page.title }}</h1>
        <p class="lead text-muted">{{ page.description }}</p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container" id="magazines_container">

        <div class="row">
            {% assign magazine = site.data.magazines | where:"id", page.magazine_id | first %}
            {% for issue in magazine.issues %}
                {% include magazine_card.html magazine=magazine issue=issue %}
            {% endfor %}

        </div>
    </div>
</div>


<script>
const js_module_init = 'magazines_init';
const magazine_ids = '{{page.magazine_id}}';
</script>
